.filtergrid section{
    border-radius: 30px;
    margin: 10px;
}

.filtergrid{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    text-align: center;
    
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 30%;
}

.urban{
    background-image: url(/static/images/urban.jpg);
    background-size: cover;
    height: 200px;
}

.landscape{
    background-image: url(/static/images/landscape.jpg);
    background-size: cover;
    height: 250px;
}

.portrait{
    background-image: url(/static/images/portrait.jpg);
    background-size: cover;
    height: 280px;
}

.architecture{
    background-image: url(/static/images/architecture.jpg);
    background-size: cover;
    height: 230px;
}


.astro{
    background-image: url(/static/images/astro.jpg);
    background-size: cover;
    height: 245px;
}

.bw{
    background-image: url(/static/images/bw.jpg);
    background-size: cover;
    height: 285px;
} 
