:root {
  --bg-color:#0a0a0a;
  --txt-color:white; }

.filtergrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center; }
  .filtergrid section {
    height: 250px;
    border-radius: 30px;
    margin: 10px; }
  .filtergrid input {
    color: transparent;
    height: 250px;
    width: 182px;
    appearance: none;
    border-radius: 30px;
    margin: 0; }
  .filtergrid label {
    position: relative;
    top: -150px;
    color: var(--txt-color);
    font-size: 1.5em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif; }

input:checked + label {
  color: black; }

input:checked {
  opacity: 0.7;
  border-radius: 30px;
  background-color: darkgray;
  border: 4px solid green; }

p {
  padding-top: 100px;
  color: var(--txt-color);
  font-size: 1.5em;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif; }

a {
  text-decoration: none; }

.urban {
  background-image: url(/static/images/urban.jpg);
  background-size: cover; }

.urbanclicked {
  display: none; }

.landscape {
  background-image: url(/static/images/landscape.jpg);
  background-size: cover; }

.landscapeclicked {
  display: none; }

.portrait {
  background-image: url(/static/images/portrait.jpg);
  background-size: cover; }

.portraitclicked {
  display: none; }

.architecture {
  background-image: url(/static/images/architecture.jpg);
  background-size: cover; }

.architectureclicked {
  display: none; }

.astro {
  background-image: url(/static/images/astro.jpg);
  background-size: cover; }

.astroclicked {
  display: none; }

.bw {
  background-image: url(/static/images/bw.jpg);
  background-size: cover; }

.bwclicked {
  display: none; }

.aerial {
  background-image: url(/static/images/aerial.jpg);
  background-size: cover; }

.aerialclicked {
  display: none; }

.pet {
  background-image: url(/static/images/pet.jpeg);
  background-size: cover; }

.petclicked {
  display: none; }

.photopage {
  background-color: var(--bg-color); }

.button {
  height: 250px;
  width: 250px;
  border-radius: 150px !important;
  background-color: #1c1c1c;
  border: 2px solid #d9d9d9;
  position: fixed;
  top: 88%;
  left: 20%; }
  .button p {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--txt-color);
    margin-top: 10px;
    top: 0; }
  .button #submit {
    margin-top: 25px;
    height: 50px;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--txt-color); }
  .button input {
    height: 50px;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--txt-color);
    margin-left: 70px; }

#plus {
  width: 40px;
  margin-left: 100px;
  margin-top: 15px; }

#profilepage {
  background-color: var(--bg-color); }

#profile {
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr; }

.profiletext {
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  height: 40px;
  margin: 0px; }

.profileinfo {
  text-align: center;
  color: var(--txt-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  margin: 0px; }

#info {
  margin-bottom: 50px; }

#pfpic {
  width: 175px;
  grid-row-start: 1;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 150px; }

#mystyle {
  text-align: center;
  color: var(--txt-color);
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.8em; }

#select {
  margin-left: 60px;
  padding-top: 0px; }

h1 {
  text-align: center;
  color: var(--txt-color); }

#filters {
  background-color: var(--bg-color); }

#Filtermsg {
  color: var(--txt-color);
  font-size: 1.5em;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline 4px red; }

.hidden {
  display: none; }

.delete {
  position: absolute;
  top: 94%;
  left: 39.5%;
  text-align: center;
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--txt-color); }
  .delete button {
    position: fixed;
    background-color: #1c1c1c;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    color: var(--txt-color);
    font-family: Georgia, 'Times New Roman', Times, serif; }

.title {
  text-align: center; }

h3 {
  color: var(--txt-color); }

.imgGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center; }
  .imgGrid section {
    height: 250px;
    margin-top: 15px; }

.uploadedImage {
  overflow: hidden;
  height: 250px;
  width: 180px;
  object-fit: cover;
  border-radius: 50px; }

#formFile {
  display: none; }

.submitBtn {
  margin: 10px 0 0 65px;
  display: none; }

.browse {
  color: var(--txt-color);
  display: inline-block;
  font-size: 1.3em;
  margin: 20px 0 0 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold; }

.buttonFormLeft {
  height: 175px;
  width: 175px;
  border-radius: 150px !important;
  background-color: #1c1c1c;
  border: 2px solid #d9d9d9;
  position: fixed;
  top: 88%;
  left: -5%; }

.buttonFormRight {
  height: 175px;
  width: 175px;
  border-radius: 150px !important;
  background-color: #1c1c1c;
  border: 2px solid #d9d9d9;
  position: fixed;
  top: 88%;
  left: 65%; }

#newImg {
  width: 40px;
  margin-left: 35px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; }

.uploadLabel {
  margin: 20px 0 0 45px;
  color: var(--txt-color);
  display: inline-block;
  font-size: 1.3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold; }

#uploadImg {
  width: 40px;
  margin-left: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; }

.formHeader {
  display: grid;
  grid-template-columns: 15% 1fr; }
  .formHeader .back {
    width: 30px; }
  .formHeader h1 {
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-right: 30px; }
  .formHeader a {
    grid-row-start: 1;
    margin: auto; }

#noFile {
  font-size: 1.3em;
  color: var(--txt-color);
  position: absolute;
  top: -60%;
  left: 75%;
  margin: auto;
  width: 200px;
  text-align: center; }

.visible {
  display: block; }

.notVisible {
  display: none; }
