
:root{
    --bg-color:#0a0a0a;
    --txt-color:white;
}


.filtergrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    section{
        height: 250px;
        border-radius: 30px;
        margin: 10px;
    }
    // button{
    input{
        color: transparent;
        height: 200px;
        width: 160px;
        opacity: 0;
    }
    label{
    position: relative;
    top: -100px;
    color: var(--txt-color);
    font-size: 1.5em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
}

input:checked + label {
    color: red;
}

p{
    padding-top: 100px;
    color: var(--txt-color);
    font-size: 1.5em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#submit{
    height: 100px;
}


a{
    text-decoration: none;
}

.urban{
    background-image: url(/static/images/urban.jpg);
    background-size: cover;
}

.urbanclicked{
    display: none;
}

.landscape{
    background-image: url(/static/images/landscape.jpg);
    background-size: cover;
}

.landscapeclicked{
    display: none;
}

.portrait{
    background-image: url(/static/images/portrait.jpg);
    background-size: cover;
}

.portraitclicked{
    display: none;
}

.architecture{
    background-image: url(/static/images/architecture.jpg);
    background-size: cover;
}

.architectureclicked{
    display: none;
}


.astro{
    background-image: url(/static/images/astro.jpg);
    background-size: cover;
}

.astroclicked{
    display: none;
}

.bw{
    background-image: url(/static/images/bw.jpg);
    background-size: cover;
} 

.bwclicked{
    display: none;
} 

.aerial{
    background-image: url(/static/images/aerial.jpg);
    background-size: cover;
} 

.aerialclicked{
    display: none;
}


.pet{
    background-image: url(/static/images/pet.jpeg);
    background-size: cover;
}

.petclicked{
    display: none;
}




.photopage{
    background-color: var(--bg-color);
}


.button{
    height: 250px;
    width: 250px; 
    border-radius: 150px !important;
    background-color: #1c1c1c;
    border: 2px solid #d9d9d9;
    position: fixed;
    top:88%;
    left:16%;
    p{
        margin-top: 10px;
        font-size: 1.5em;   
        font-weight: bold;      
        font-family: Georgia, 'Times New Roman', Times, serif;  
        color: var(--txt-color);
        margin-top: 10px;
        top: 0;
    }
    #select{
        margin-left: 84px;
        padding-top: 0px;
    }
    #submit{    
        margin-top: 25px;
        height: 50px;
        text-align: center;
        border: none;
        background-color: transparent;
        font-size: 1.5em;   
        font-weight: bold;      
        font-family: Georgia, 'Times New Roman', Times, serif;  
        color: var(--txt-color);
    } 
}

#plus{
    width: 40px;
    margin-left: 100px;
    margin-top: 15px;
}