h1{
    text-align: center;
    color:  var(--txt-color);
}

#filters{
    background-color: var(--bg-color);
}

#Filtermsg{
    color: var(--txt-color);
    font-size: 1.5em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline 4px red;
}

.hidden{
    display: none;
}


#aerial.notLoaded{
    background-image: none;
}
#urban.notLoaded{
    background-image: none;
}
#landscape.notLoaded{
    background-image: none;
}
#portrait.notLoaded{
    background-image: none;
}
#architecture.notLoaded{
    background-image: none;
}
#astro.notLoaded{
    background-image: none;
}
#bw.notLoaded{
    background-image: none;
}
#pet.notLoaded{
    background-image: none;
}