.addPhoto{
    margin-top: 35px;
    margin-left: 50px;
    height: 50px;

    text-align: center;
    border: none;
    background-color: transparent;
    
    font-size: 1.5em;   
    font-weight: bold;      
    font-family: Georgia, 'Times New Roman', Times, serif;  
    color: var(--txt-color);
}

// .delete{
//     margin-top: 35px;
//     text-align: center;
//     height: 50px;

//     text-align: center;
//     border: none;
//     background-color: transparent;
    
//     font-size: 1.5em;   
//     font-weight: bold;      
//     font-family: Georgia, 'Times New Roman', Times, serif;  
//     color: var(--txt-color);

// }