.addPhoto{
    margin-top: 35px;
    margin-left: 50px;
    height: 50px;

    text-align: center;
    border: none;
    background-color: transparent;
    
    font-size: 1.5em;   
    font-weight: bold;      
    font-family: Georgia, 'Times New Roman', Times, serif;  
    color: var(--txt-color);
}

.delete{
    margin-top: 35px;
    text-align: center;
    height: 50px;

    border: none;
    background-color: transparent;
    
    font-size: 1.5em;   
    font-weight: bold;      
    font-family: Georgia, 'Times New Roman', Times, serif;  
    color: var(--txt-color);

}







.title{
    text-align: center;
}

h3{
    color: var(--txt-color);
}


.imgGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    section{
        height: 250px;
    }
}

.uploadedImage{
    overflow: hidden;
    height: 250px;
    width: 200px;
    object-fit: cover;
    border-radius: 50px;
}
