#profilepage{
    background-color:  var(--bg-color);
}

#profile{
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.profiletext{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    height: 40px;
    margin: 0px;
}

.profileinfo{
    text-align: center;
    color: var(--txt-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin: 0px;
   
}

#info{
    margin-bottom: 50px;
}

#pfpic{
    width: 175px;
    grid-row-start: 1;
    margin: auto;  
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 150px;

}

#mystyle{
    text-align: center;
    color: var(--txt-color);
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.8em;
}

