<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Aerial Photography</title>
</head>
<body class="photopage">
    
    <form method="post" action="aerial">
        <section class="button">  
            <input type="hidden" name="addPhoto">  
            <button type="submit" value="Submit" class="addPhoto">Add Photo</button>
        </section>
    


        {{!-- <section class="delete">
            <input type="hidden" name="remove" id="remove">  
            <button type="submit" value="Submit" class="delete">Delete Style</button>
        </section> --}}

    </form>

    


</body>
</html>