<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Styles</title>
</head>

<body id="filters">

    <h1>Select your styles</h1>

<main class="filtergrid">
      <section class="urban">
            <p>Urban Photography</p>
        </section>    

        <section class="landscape">
            <p>Landscape Photography</p>
        </section> 

        <section class="portrait">
            <p>Portrait Photography</p>
        </section>    

        <section class="architecture">
            <p>Architecture Photography</p>
        </section>      

        <section class="astro">
            <p>Astro Photography</p>
        </section>    

        <section class="bw">
            <p>Black and White Photography</p>
        </section>


</main>
</body>

</html>