<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Styles</title>
</head>

<body id="filters">

   <section class="formHeader">
        <h1>Select your style</h1>
        <a href="/"><img src="/static/images/cross.png" class="back" alt="back button"> </a>
    </section>


    <h2 id="Filtermsg">Please select 1 or more styles</h2>
    <form method="post" action="style" class="filtergrid">
        <section class="urban">
            <input type="checkbox" name="urban" id="urban">
            <label for="urban">Urban Photography</label>
        </section>    
    
        <section class="landscape">
           <input type="checkbox" name="landscape" id="landscape">
           <label for="landscape">Landscape Photography</label>
        </section> 

        <section class="portrait">
            <input type="checkbox" name="portrait" id="portrait">
            <label for="portrait">Portrait Photography</label>
        </section>    

        <section class="architecture">
            <input type="checkbox" name="architecture" id="architecture">
            <label for="architecture">Architecture Photography</label>
        </section>      

        <section class="astro">
            <input type="checkbox" name="astro" id="astro">
            <label for="astro">Astro Photography</label>
        </section>    

        <section class="bw">
            <input type="checkbox" name="bw" id="bw">
            <label for="bw">Black and White Photography</label>
        </section>

        <section class="aerial">
            <input type="checkbox" name="aerial" id="aerial">
            <label for="aerial">Aerial Photography</label>
        </section>
   
        <section class="pet">
            <input type="checkbox" name="pet" id="pet">
            <label for="pet">Pet Photography</label>
        </section>

        <section class="button">    
            <button type="submit" value="Submit" id="submit">Select</button>
        </section>
    </form>
   
    <script src="../static/js/index.js"></script>


</body>

</html>