<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Styles</title>
</head>

<body id="filters">

   <section class="formHeader">
        <h1>Select your style</h1>
        <a href="/"><img src="/static/images/cross.png" class="back" alt="back button"> </a>
    </section>


    <h2 id="Filtermsg">Please select 1 or more styles</h2>
    <form method="post" action="style" class="filtergrid">
        
        <section id="urban" class="notLoaded">
            <input type="checkbox" name="urban" id="urbanBox">
            <label for="urban" class="lazy">Urban Photography</label>
        </section>    
    
        <section id="landscape" class="notLoaded">
           <input type="checkbox" name="landscape" id="landscapeBox" >
           <label for="landscape" class="lazy">Landscape Photography</label>
        </section> 

        <section id="portrait"class="notLoaded" >
            <input type="checkbox" name="portrait" id="portraitBox" >
            <label for="portrait" class="lazy">Portrait Photography</label>
        </section>    

        <section id="architecture"class="notLoaded" >
            <input type="checkbox" name="architecture" id="architectureBox" >
            <label for="architecture" class="lazy">Architecture Photography</label>
        </section>      

        <section id="astro" class="notLoaded" >
            <input type="checkbox" name="astro" id="astroBox" >
            <label for="astro" class="lazy">Astro Photography</label>
        </section>    

        <section id="bw" class="notLoaded">
            <input type="checkbox" name="bw" id="bwBox">
            <label for="bw" class="lazy">Black and White Photography</label>
        </section>

        <section id="aerial" class="notLoaded">
            <input type="checkbox" name="aerial" id="aerialBox">
            <label for="aerial" class="lazy">Aerial Photography</label>
        </section>
   
        <section id="pet" class="notLoaded">
            <input type="checkbox" name="pet" id="petBox">
            <label for="pet" class="lazy">Pet Photography</label>
        </section>

        <section class="button" class="notLoaded">    
            <button type="submit" value="Submit" id="submit">Select</button>
        </section>
    </form>
   
    <script src="../static/js/index.js"></script>


</body>

</html>