<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Portrait</title>
</head>
<body class="photopage">
    
     <section class="formHeader">
        <h1>Portrait Photography</h1>
        <a href="/"><img src="/static/images/cross.png" class="back" alt="back button"> </a>
    </section>

    <section class="imgGrid">
        {{#each imgPortrait}}
            {{#each this}}
                {{#if imageBase64}}
                <section class="uploadImgGrid">
                     <img src='data:{{contentType}};base64,{{imageBase64}}' alt="UploadedImage" class="uploadedImage">
                    {{! maak een image aan met als data het contentype, geef vervolgens de base64 code mee}}
                </section>
                {{/if}}
            {{/each}}
        {{/each}}
    </section>

       <form method="post" action="/portrait" enctype="multipart/form-data">
        <section class="buttonFormLeft">
            <label class="browse" for="formFile"> <img src="/static/images/folder.png" id="newImg" alt="profile picture">New Image</label>
            <input type="file"  name="imagesPortrait" id="formFile" multiple>
        </section>
        <section class="buttonFormRight">
            <label class="uploadLabel" for="upload"> <img src="/static/images/upload.png" id="uploadImg" alt="profile picture">Upload</label>
            <input type="submit" class="submitBtn" id="upload" value="Upload">
        </section>
    </form>


    <form action="/remove" method="post">
        <section class="delete">
            <input type="hidden" id="remove">  
            <button type="submit" name="portrait" value="portrait" >Delete Style</button>
        </section>
    </form>

</body>
</html>