<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Profiel</title>
</head>

<body id="profilepage">

    <section id="profile">
        <h1 class="profiletext"> Nico di Angelo</h1>
        <img src="/static/images/nico.png" id="pfpic" alt="profile picture">
    </section>  

    <section id="info">
        <h2 class="profileinfo"> {{user.email}}</h2>
    </section>  
    
    <section class="filtergrid">
        <h2 id="mystyle">My Styles</h2>
      
  

        {{#each styleList}} {{! voor elke item in de stijl database}}
            <a href="{{style}}"> {{!maak een link aan naar de stijl pagina}}
                <section class="{{style}}"> {{! maak een section aan met als class de naam van de stijl}}
                    <p>{{name}} </p> {{! een paragraaf met de naam van de stijl}}
                </section>    
            </a>
        {{/each}}


    </section>

    <section class="button">
        <a href="style"> <img src="/static/images/plus.jpg" id="plus" alt="profile picture"></a>
        <P id="select">Select style</P>
    </section>


</body>

</html>